.profile-card {
    grid-template-columns: repeat(6, auto); 
    .img-container {
        grid-column: 2;
    }
    h1 {
        grid-column: 3 / span 3;
    }
}


.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8vw;
    row-gap: 5vw;
    padding-inline: 10vw;
    padding-bottom: 7vw;

    .project-card {
        display: block;
    }
    .img-container {
        max-width: 100%;
    }

}


.skills-container {
  grid-template-columns: repeat(4, 1fr); 
  gap: 3rem; 
  padding-inline: 20vw;
  text-align: left;

  h2 {
    grid-column: 1 / -1; 
    text-align: center;  
  }
}


footer {
    grid-template-columns: repeat(4, auto); 

    
    .img-container{
        grid-column: 1 / span 2;
        // padding-right: 1.7rem;
    }

    h3 {
        grid-column: 3 / span 2;
        padding-left: 1rem;
    }
}