$platinum: #E2DFDDff;
$hunter-green: #375946ff;
$beaver: #988671ff;
$hookers-green: #6B8A7Eff;
$bole: #823F38ff;
$lion: #A6895Aff;
$white: #ffffff;
$black: #000000;


$primary-font: "Bakback One", sans-serif;
$secondary-font: "EB Garamond", serif; 