$white: #ffffff;
$black: #000000;

$reseda-green: #688b58ff;
$gamboge: #f1a208ff;
$charcoal: #264653ff;
$seasalt: #fafafaff;
$eerie-black: #1a1a1aff;
$periwinkle: #bdb2ffff;


$primary-font: "Work Sans", sans-serif;
$secondary-font: "Playfair Display", serif; 